thead{
  background-color: $primary;
  & tr{
      & th{
          span{
              color: white;
             
          }
      }
  }
}

table {
  border-collapse: collapse;
  width: 100%;
  & tbody{
     & tr{
         & td{
          padding-top: 8px !important;
          padding-bottom: 8px !important;
         }
        }
  }
}

th, td {
  text-align: left;
  padding: 0px;
  i.v-icon.v-data-table-header__icon{
    color: transparent !important;
  }
}


tr:nth-child(even) {
  background-color: $table;
}